# Skip installing optional dependencies.
omit=optional

# Installs are faster when audit is disabled.
# https://www.peterbe.com/plog/benchmarking-npm-install-with-or-without-audit
# Dependabot alerts are used to audit this repository's dependencies.
audit=false
