name: Merged notification

# **What it does**: When we merge an open-source pull request, we want to set expectations that deployment may take awhile.
# **Why we have it**: We want to thank contributors for their work in a confirmation message.
# **Who does it impact**: Open-source contributors.

on:
  pull_request_target:
    types:
      - 'closed'

permissions:
  issues: write
  pull-requests: write

jobs:
  comment:
    if: github.repository == 'zachwatkins/.github' && github.event.pull_request.merged && github.event.pull_request.base.ref == github.event.repository.default_branch
    runs-on: ubuntu-latest
    steps:
      - uses: actions/github-script@v6
        with:
          script: |
            github.rest.issues.createComment({
              ...context.repo,
              issue_number: context.payload.pull_request.number,
              body: "Thanks very much for contributing! Your pull request has been merged. Your changes will appear in approximately 24 hours. If you would like to contribute again, you can check out our [help wanted issues](https://github.com/zachwatkins/.github/issues?q=is%3Aopen+is%3Aissue+label%3A%22help+wanted%22)"
            })
