# Workflow to build the repository and confirm success.

name: Test Build

on:
  workflow_dispatch:
  pull_request:
    paths:
      - '**.md'
      - '**.js'
      - '**.mjs'
      - '**.ts'
      - '**.tsx'
      - '**.scss'
      - 'src/**.css'
      - 'package-lock.json'
      - 'package.json'
      - .github/workflows/build.yml

# Allow only one concurrent deployment, skipping runs queued between the run in-progress and latest queued.
concurrency:
  group: "testbuild"

jobs:
  test_build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: ./.github/actions/node-npm-setup

      - name: Build
        run: npm run build
